# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project
.vs/
debug/
release/
release32/
release64/
.qmake.stash
*.pdb
VideoPlayDemo.pro.user
VideoPlayDemo.pro.user.*
VideoPlayDemo.vcxproj
VideoPlayDemo.vcxproj.*
VideoPlayDemo.sln
release*/
ui_*
